/* themes/your-theme/source/deps/css/mermaid.css */

/* 设置流程图容器样式 */
.mermaid {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    padding: 20px; /* 可选：设置流程图容器的内边距 */
  }
  
  /* 设置节点样式 */
  .mermaid .node rect {
    fill: #fbfbfb00 !important; /* 设置节点填充色，橙色 */
    stroke: #fc7171 !important; /* 设置节点边框颜色，黑色 */
  }
  
  /* 设置箭头样式 */
  .mermaid .edgePath .path {
    stroke: #04ff00 !important; /* 设置箭头颜色，亮蓝色 */
    stroke-width: 2px !important; /* 设置箭头宽度 */
  }
  
  /* 设置箭头头部样式 */
  .mermaid .edgeMarker {
    fill: #04ff00 !important; /* 设置箭头头部填充色，与箭头颜色一致 */
  }